<main>

    <div class="pricing-heading">
        <h1>RouteMaestro Pricing Plans</h1>
        <h3>A Plan For Your Every Plan</h3>
        <h5>(No Credit Card Required)</h5>
    </div>
    <div class="container pricing-main">
        <div class="row">
            <div class="col">

                <div class="col1">
                        <div class="pricing-card" >

                        </div>
                        <!-- 1 -->
                        <div  class="pricing-block" >
                            <h2>Agency CRM Software</h2>
                            <h3>Enquiry & Branch Management</h3>
                        </div>

                        <!-- 2 -->
                        <div class="pricing-block">
                            <h2>Create YOur own professional itineraries</h2>
                        </div>

                        <!-- 3 -->
                        <div  class="pricing-block" style="height: 130px;">
                            <h2>Generate Customised AI Itineraries</h2>
                            <h3>• Highly Convertible Itineraries</h3>
                            <h3>• Use Your Own Company Logo</h3>
                        </div>

                        <!-- 4 -->
                        <div  class="pricing-block" style="height: 130px;">
                            <h2>Generate Real Time Packages</h2>
                            <h3>• 10Lakh + Hotels</h3>
                            <h3>• 17+ Airlines</h3>
                        </div>

                        <!-- 5 -->
                        <div  class="pricing-block" >
                            <h2>Online Payment Collection Facility</h2>
                        </div>

                        <!-- 6 -->
                        <div  class="pricing-block" >
                            <h2>Real Time Availabilty & Instant Booking</h2>
                        </div>

                        <!-- 7 -->
                        <div  class="pricing-block" style="height: 130px;">
                            <h2>Exclusive Inventory Rates</h2>
                            <h3>• 0% Platform Commission On Booking</h3>
                            <h3>• Agent Coommissionable Rates</h3>
                        </div>

                        <!-- 8 -->
                        <div  class="pricing-block"  style="border: none;">
                            <h2>Demographically Unrestricted Service Area</h2>
                        </div>
                    </div>

            </div>

            <!-- FREE ROUTEMAESTRO PLAN -->
            <div class="col pricing-col-main">
                <div class="col2 pricing-col-inner" >
                    <div class="pricing-card" style="  background-color: #063e68;" >
                        <h3 class="pricing-col-heading">Free</h3>

                    </div>
                    <!-- 1 -->
                    <div  class="pricing-block">
                        -
                    </div>

                    <!-- 2 -->
                    <div class="pricing-block">
                            <h4>Unlimited</h4>
                    </div>

                    <!-- 3 -->
                    <div  class="pricing-block"  style="height: 130px;">
                        <h4>3</h4>

                    </div>

                    <!-- 4 -->
                    <div class="pricing-block"  style="height: 130px;">
                        -
                    </div>

                    <!-- 5 -->
                    <div  class="pricing-block">
                        -

                    </div>

                    <!-- 6 -->
                    <div class="pricing-block">
                        -

                    </div>

                    <!-- 7 -->
                    <div  class="pricing-block"  style="height: 130px;">
                        -

                    </div>

                    <!-- 8 -->
                    <div class="pricing-block" style="border: none;">
                        -

                    </div>
                   
                    
                </div>
            </div>

            <!-- BASIC ROUTE MAESTRO PLAN -->
            <div class="col pricing-col-main">
                <div class="col3 pricing-col-inner"  >
                    <div class="pricing-card" style="  background-color: #063e68;">
                        <h3>Route Maestro Basic</h3>
                        <h5>₹5,500/Month/User</h5>
                        <button type="button" class="btn btn-primary p-1 buyNow-btn" (click)="navigationToCheckout()">Buy Now</button>
                    </div>
                    <!-- 1 -->
                    <div  class="pricing-block">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">
                    </div>

                    <!-- 2 -->
                    <div class="pricing-block">
                        <h4>25</h4>
                    </div>

                    <!-- 3 -->
                    <div  class="pricing-block"  style="height: 130px;">
                        <h4>25</h4>

                    </div>

                    <!-- 4 -->
                    <div class="pricing-block"  style="height: 130px;">
                        -
                    </div>

                    <!-- 5 -->
                    <div  class="pricing-block">
                        -

                    </div>

                    <!-- 6 -->
                    <div class="pricing-block">
                        -

                    </div>

                    <!-- 7 -->
                    <div  class="pricing-block"  style="height: 130px;">
                        -

                    </div>

                    <!-- 8 -->
                    <div class="pricing-block" style="border: none;">
                        -

                    </div>
                   
                 
                </div>
            </div>
            <div class="col pricing-col-main">
                <div class="col4 pricing-col-inner" >
                    <div class="pricing-card" style="background-color: #063e68;">
                        <h3>Route Maestro Pro</h3>
                        <h5>₹ 10,500/Month/User</h5>
                        <button type="button" class="btn btn-primary p-1 buyNow-btn" (click)="navigationToCheckout()" >Buy Now</button>
                        
                    </div>
                    <!-- 1 -->
                        <div  class="pricing-block">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">

                        </div>

                        <!-- 2 -->
                        <div class="pricing-block">
                            <h4>Unlimited</h4>
                        </div>

                        <!-- 3 -->
                        <div  class="pricing-block"  style="height: 130px;">
                            <h4>Unlimited</h4>
                        </div>

                        <!-- 4 -->
                        <div  class="pricing-block"  style="height: 130px;">
                            <h4>Unlimited</h4>
                        </div>

                        <!-- 5 -->
                        <div  class="pricing-block">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">

                        </div>

                        <!-- 6 -->
                        <div  class="pricing-block">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">

                        </div>

                        <!-- 7 -->
                        <div  class="pricing-block"  style="height: 130px;">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">

                        </div>

                        <!-- 8 -->
                        <div  class="pricing-block" style="border: none;">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">

                        </div>
                      
                </div>

            </div>
        </div>
    </div>
    

</main>
