<main >
  <h1>
    Login 
  </h1>
    <form class="login-form">

        <!-- Email input -->
        <div class="input-field">
          <label class="form-label" for="email">Email </label>
          <input type="email" name="email" id="email" class="form-control "  placeholder="Enter your Email" [(ngModel)]="email" />
    
        </div>
      
      
        <!-- Password input -->
        <div class="input-field">
          <label class="form-label" for="password">Password </label>
          <input type="password" name="password" id="password" class="form-control "  placeholder="Enter your password" [(ngModel)]="password"/>
    
        </div>
      
      
      
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block " (click)="login()" >Login</button>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="/register">Register</a></p>
          <p>or sign up with:</p>

          <button class="google-login-btn" (click)="signInWithGoogle()" type="button">
            <h3>Login with Google</h3>
            <img src="../../../assets/img/brand/search_281764.png" alt="google-image" style="height: 30px;">
          </button>
          </div>
      </form>
</main>
