<main >
  <h1>
    Register 
  </h1>
    <form class="login-form"  ng-submit="register()">

        <!-- Email input -->
        <div class="input-field">
          <label class="form-label" for="email">Email </label>
          <input type="email" id="email" name="email" class="form-control "  placeholder="Enter your Email" [(ngModel)]="email"   />
    
        </div>
      
      
        <!-- Password input -->
        <div class="input-field">
          <label class="form-label" for="password">Password </label>
          <input type="password" id="password"  name="password" class="form-control "  placeholder="Enter your password" [(ngModel)]="password"/>
    
        </div>
      
      
      
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block register-btn "  (click)="register()" >Register</button>
      
        <!-- Register buttons -->
        <div class="text-center" style="display: flex; flex-direction: column; align-items: center;">
          <p>Already Have an Account? <a href="/login">Login</a></p>
          <p>or sign up with:</p>
          
          <button class="google-login-btn" (click)="signInWithGoogle()" type="button">
            <h3>Register with Google</h3>
            <img src="../../../assets/img/brand/search_281764.png" alt="google-image" style="height: 25px;">
          </button>
      
          
      
          
        </div>
      </form>
</main>
