<main>

    <!-- background one -->
    <div>

        <!-- main content one -->
        <!-- <div class="main-body">

            <div class="flight-brand" >
              <img src="./assets/6E.gif" alt="">
              <div>
                <h2>{{airlineName}}</h2>
                <h4>6E 519</h4>
              </div>
             
            </div>
            <div class="flight-time-place">
                    <h1>{{departureTime}}</h1>
                    <h4>{{origin}}</h4>
            </div>
            <div class="flight-duration">
                <h4> {{duration}} </h4>
                <img src="./assets/bar.png" alt="" height="4px" width="50px">
                <h5>Non stop</h5>

            </div>
            <div class="flight-time-place">
                <h1>{{arrivalTime}}</h1>
                <h4>{{destination}}</h4>
             </div>
            <div class="flight-price">

                <h2>₹{{fare}}</h2>
                <h4>per adult</h4>
            </div>

        </div> -->

    </div>
    

</main>
